.footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #202020
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2% 27% 1%;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1% 35% 2%;
}

p {
    margin: 2% 0;
}