form {
  max-width:420px;
  margin: auto;
}

.form-control {
  color: white;
  font-size: 1vw;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 3px solid #cccccc;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.form-control:focus { 
  border:3px solid #191970;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.submit {
  width: 100%;
  background: #191970;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color: #cccccc;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight: bold;
}

.submit:hover {
  background-color: #cccccc;
  color: #191970;
}