.navbar {
  display: flex;
  flex-direction: row;
  border-bottom: 8px solid #191970;
  margin: 0;
  padding: 2% 1% 1.3%;
  font-weight: bold;
  font-size: 1.3vw;
  color: #191970;
  background-color: white;
  font-family: 'Kufam', cursive;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar a {
  text-decoration: none;
  color: #191970;
  padding-left: 3%;
}

a:visited {
  color: #191970;
}

.header-space {
  width: 50%;
}

.navbar button {
  transition: .3s;
  margin: auto;
  color: #191970;
  font-size: 1.3vw;
  font-weight: bold;
  font-family: 'Kufam', cursive;
  background-color: white;
  text-decoration: none;
  outline: none;
  border: none;
}